* {
    box-sizing: border-box;
    border: 1px solid pink;
}

body {
    background-color: lightgray;

}

.container {
    display: flex;
    align-items: center;
    


}

.container-left {
    background-color: white;
    background-image: url("/Users/hannahbarker/Documents/dev/independent-code/fylo-landing-page/images/bg-intro.svg");
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vw;

}

img#background {
    
    width: 200px;

}

img#illustration {

}

.container-right{
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vw;
    

}




.head {
    position: absolute;
    margin: 10px 10px 10px 40px;
    padding: 30px;


}

.content {

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;


}

h1 {
    display: flex;
    justify-content: flex-start;
}

p {

}



.sign-up {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding: 30px;
    
    

}

h3 {
    height: 30px;
}


input {
    height: 30px;
    color: blue;
}

button {
    background-color: gray;
    height: 30px;
   
}


.attribution { 
    font-size: 11px; 
    text-align: center; 

}
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    
    }





    @media only screen and (min-width: 375px) {








    }